---
layout: site.njk
---
<main>
  <div class="Layout__wrap">
    <div class="Layout__nav">
      <h2>dotfiles</h2>
      {% markdownNoBlank %}
      {%- include "dotfiles/toc.md" -%}
      {% endmarkdownNoBlank %}
    </div>
    <main>
      {{ content | safe }}
    </main>
  </div>
</main>
