---
layout: site.njk
---
<main>
  <div class="Layout__wrap">
    <div class="Layout__nav">
      <h2>dotfiles</h2>
      {% markdownNoBlank %}
      {%- include "dotfiles/toc.md" -%}
      {% endmarkdownNoBlank %}
    </div>
    <main class="Layout__main">

      <h1 class="font-bold text-2xl mb-4">{{ title }}</h1>
      {% if content | toc %}
      <div class="BlogToc">
        <h3>目次</h3>
        {{ content | toc | safe }}
      </div>
      {% endif %}
      <div class="md-content">
        {{ content | safe }}

    <h2>コメント</h2>
    <p>
      <a
        href="https://github.com/ebiyuu1121/ebiyuu.com-comment/issues"
        target="_blank" rel="noreferrer"
      >Github Issue</a>
      と連動しています。
    </p>

    <script src="https://utteranc.es/client.js"
            repo="ebiyuu1121/ebiyuu.com-comment"
            issue-term="pathname"
            label="comment"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
      </div>
    </main>
  </div>
</main>
