---
layout: site.njk
---
<main>
  <div class="Layout__wrap">
    <div class="Layout__nav">
      <h2>dotfiles</h2>
      {% markdownNoBlank %}
      {%- include "dotfiles/toc.md" -%}
      {% endmarkdownNoBlank %}
    </div>
    <main class="Layout__main">

      <h1>{{ title }}</h1>
      {% if content | toc %}
      <div class="BlogToc">
        <h3>目次</h3>
        {{ content | toc | safe }}
      </div>
      {% endif %}
      <div class="md-content">
        {{ content | safe }}
      </div>
    </main>
  </div>
</main>
