<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Yusuke Ebihara</title>
    <style>{% include "normalize.css" %}</style>
    <style>{% include "style.css" %}</style>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1962102227435548"
     crossorigin="anonymous"></script>
    {% favicon 'src/icon.png' %}
    <style>
      .token.deleted {
        background-color: hsl(350deg 100% 88% / 47%);
      }
      .token.inserted {
        background-color: hsl(120deg 73% 75% / 35%);
      }

      /* Make the + and - characters unselectable for copy/paste */
      .token.prefix.unchanged,
      .token.prefix.inserted,
      .token.prefix.deleted {
        -webkit-user-select: none;
        user-select: none;
      }

      /* Optional: full-width background color */
      .token.inserted:not(.prefix),
      .token.deleted:not(.prefix) {
        display: block;
      }
    </style>

  </head>
  <body>
    <div class="Header">
      <div class="Header__brand">
        <a href="/" class="Header__link">Yusuke Ebihara's website</a>
      </div>
      <div class="Header__brand">
        <a href="/dotfiles" class="Header__link">Dotfiles</a>
        <a href="/post" class="Header__link">Blog</a>
      </div>
    </div>
    {{ content | safe }}
    <footer class="Footer">
      <div>
        <span>
          Generated by
          <a href="https://www.11ty.dev/" target="_blank">11ty</a>
          ({{ builtAt | formatTime }})
        </span>
      </div>
      <div>
        <span>© 2022 Yusuke Ebihara</span>
      </div>
    </footer>
  </body>
</html>
