---
pagination:
    data: allTags
    size: 1
    alias: tag
permalink: "tag/{{ tag }}/"
layout: site.njk
---

<main>

<h1>Tag: {{ tag }}</h1>

<ul class="BlogList">
{%- for post in collections[tag] | reverse -%}
  <li class="BlogList__li">
    <a href="{{post.url}}">{{ post.data.title }}</a>
    {% for tag in post.data.tags %}
      <a class="Tag" href="/tag/{{ tag }}">
        {{ tag }}
      </a>
    {% endfor %}
    <span class="BlogList__date">
      {{ post.data.date | formatDate }}
    </span>
  </li>
{%- endfor -%}
</ul>

</main>
