---
layout: site.njk
title: Blog
---

<h1>Blog</h1>

技術系記事から関係ないことまで、いろいろ書くブログ。

{%- for post in collections.posts.reverse() -%}
  <li><a href="{{post.url}}">{{ post.data.title }}</a> - {{ post.data.date }}</li>
{%- endfor -%}

