@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

main {
  padding: 12px 12px;
}

code,
pre {
  background-color: #eee;
}

code {
  padding: 0 0.1em;
}

pre {
  padding: 8px;
}

blockquote {
  margin-left: 1em;
  padding-left: 0.5em;
  border-left: 0.5em solid #eee;
}

.Header {
  padding: 12px;
  background-color: #0070c0;
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

.Header__link {
  color: white;
}
.Header__link:hover {
  color: white;
  text-decoration: none;
}

.Footer {
  padding: 12px 4px;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
}

.BlogTitle {
  text-align: center;
  margin-bottom: 0.2em;
}
.BlogDate {
  font-size: 1em;
  margin-bottom: 0.2em;
  color: gray;
  text-align: center;
}

.BlogList {
  padding: 0;
  list-style: none;
}

.BlogList__li {
  padding: 7px;
}

.BlogList__li + .BlogList__li {
  border-top: #ccc 1px solid;
}

.BlogList__date {
  color: gray;
  font-size: 0.9em;
}

.Layout__wrap {
  display: flex;
}

.Layout__nav {
  width: 150px;
  padding: 12px 12px;
  border-right: #ccc 1px solid;
}

.Layout__nav ul {
  padding-inline-start: 10px;
}

.Layout__main {
  flex: 1;
  overflow-x: hidden;
}

.BlogToc {
  display: inline-block;
  /* min-width: 500px; */
  max-width: 100%;
  width: 400px;
  padding: 20px;
  border: #0070c0 dashed 2px;
  border-radius: 10px;
  background-color: #e5f4ff;
}

.BlogToc > h3 {
  margin-top: 0;
  text-align: center;
}

.TagList {
  text-align: center;
}

.Tag {
  border: #0070c0 solid 2px;
  background-color: #e5f4ff;
  color: #0070c0;
  /* background-color: #0070c0; */
  /* color: white; */
  padding: 3px 12px;
  /* padding-left: 10px; */
  /* border-radius: 20px 0 0 20px; */
  border-radius: 20px;
  display: inline-block;
  margin: 5px 3px;
}

.Tag:hover {
  background-color: #0070c0;
  color: white;
  text-decoration: none;
}

/* Top page */
.Profile {
  display: flex;
  margin: 4px 0;
}

.ProfileNameEn {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4px;
}

/* markdown styles */
.md-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  border-left: #0070c0 solid 0.3em;
  padding: 5px;
  padding-left: 0.5em;
  background-color: #c2e6ff;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.md-content h3 {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: #0070c0 solid 0.2em;
  padding: 2px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @apply mx-4;
}

.md-content table {
  border-collapse: collapse;
}
.md-content th {
  border: 1px solid #ccc;
  padding: 4px;
}
.md-content td {
  border: 1px solid #ccc;
  padding: 4px;
}

.md-content h2 + h3 {
  margin-top: 0;
}

.md-content ol {
  @apply list-decimal pl-10;
}
.md-content ul {
  @apply list-disc pl-10;
}
.md-content p {
  @apply my-2;
}

.md-content>*{
  @apply mx-2 !important;
}
.md-content>h2{
  @apply mx-0 !important;
}
